body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

.container {
    max-width: 600px;
    min-width: 320px;
    min-height: 600px;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.my-textarea {
    width: 100%;
    height: 150px;
    border-radius: 5px;
    margin-bottom: 5px;
}

.drop-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100px;
    padding: 20px;
    border-radius: 10px;
    border: 2px dashed #555;
    color: #444;
    cursor: pointer;
    transition: background .2s ease-in-out, border .2s ease-in-out;
}

.drop-container:hover {
    background: #eee;
    border-color: #111;
}

.drop-container:hover .drop-title {
    color: #222;
}

.drop-title {
    color: #444;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    transition: color .2s ease-in-out;
}

input[type=file]::file-selector-button {
    margin-right: 20px;
    border: 2px solid #084cdf;
    background: #084cdf;
    padding: 10px 20px;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
    transition: background .2s ease-in-out;
}

input[type=file]::file-selector-button:hover {
    background: white;
    color: #084cdf;
}

input[type=file] {
    max-width: 100%;
    color: #444;
    background: #fff;
    border-radius: 10px;
    border: 1px solid #555;
}

.tabs__panel {
    display: flex;
    max-width: 288px;
    padding: 4px;
    border-radius: 12px;
    margin: 0 auto;
    background-color: #EDF4F2;
    overflow: hidden;
}

.tabs__tab {
    font-size: 16px;
    width: 50%;
    padding: 6px 5px;
    line-height: 20px;
    border: 0;
    background-color: #EDF4F2;
    cursor: pointer;
    text-align: center;
    transition: var(--t3) color;
}

.tabs__tab_active {
    border-radius: 8px;
    background-color: #488aec;
    color: white;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.12), 0px 3px 1px rgba(0, 0, 0, 0.04);
}

.tabcontent {
    display: none;
    padding: 6px 12px;
    border-top: none;
}

.green-button:hover {
    background-color: white;
    color: #04AA6D;
    border-color: #04AA6D;
    border: 2px solid #04AA6D;
}

.green-button {
    background-color: #04AA6D;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 7px;
    cursor: pointer;
}

.bookmark {
    padding: 10px;
    border: none;
    display: flex;
    margin-left: auto;
    background-color: #488aec;
    color: #ffffff;
    font-size: 12px;
    font-weight: 700;
    cursor: pointer;
    text-align: center;
    text-transform: uppercase;
    vertical-align: middle;
    align-items: center;
    border-radius: 7px;
    user-select: none;
    box-shadow: 0 4px 6px -1px #488aec31, 0 2px 4px -1px #488aec17;
    transition: all 0.6s ease;
}

.bookmark:hover {
    box-shadow: 0 10px 15px -3px #488aec4f, 0 4px 6px -2px #488aec17;
}

.bookmark:focus,
.bookmark:active {
    opacity: 0.85;
    box-shadow: none;
}

.bookmark svg {
    width: 1.25rem;
    height: 1.25rem;
}

.sendbutton {
    background: royalblue;
    color: white;
    padding: 0.7em 1em;
    padding-left: 0.9em;
    display: flex;
    align-items: center;
    border: none;
    border-radius: 16px;
    overflow: hidden;
    transition: all 0.2s;
    cursor: pointer;
}

.sendbutton span {
    display: block;
    margin-left: 0.3em;
    transition: all 0.3s ease-in-out;
}

.sendbutton svg {
    display: block;
    transform-origin: center center;
    transition: transform 0.3s ease-in-out;
}

.sendbutton:hover .svg-wrapper {
    animation: fly-1 0.6s ease-in-out infinite alternate;
}

.sendbutton:hover svg {
    transform: translateX(1.2em) rotate(45deg) scale(1.1);
}

.sendbutton:hover span {
    transform: translateX(5em);
}

.sendbutton:active {
    transform: scale(0.95);
}

@keyframes fly-1 {
    from {
        transform: translateY(0.1em);
    }
    to {
        transform: translateY(-0.1em);
    }
}

.expander {
    width: 95%;
    border-radius: 10px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
}

.header {
    font-size: 16px;
    margin-right: auto;
    padding: 10px;
    cursor: pointer;
}

.content {
    padding: 10px;
    display: none;
}

.expander.open .content {
    display: block;
}

.output-header {
    border-radius: 10px;
    background-color: aliceblue;
    align-items: center;
    display: flex;
    gap: 5px;
    justify-content: space-between;
    margin: 0;
    padding: .5rem 1rem;
}

.bin-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 7px;
    background-color: rgb(255, 95, 95);
    cursor: pointer;
    border: 3px solid rgb(255, 201, 201);
    transition-duration: 0.3s;
}

.bin-button svg {
    width: 75%;
}

.bin-bottom {
    width: 15px;
}

.bin-top {
    width: 17px;
    transform-origin: right;
    transition-duration: 0.3s;
}

.bin-button:hover .bin-top {
    transform: rotate(45deg);
}

.bin-button:hover {
    background-color: rgb(255, 0, 0);
}

.bin-button:active {
    transform: scale(0.9);
}

::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: rgba(0, 0, 0, .5);
    -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}

#check_conn:hover {
    transform: scale(0.90);
}

#check_conn:active {
    transform: scale(0.90);
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.alert-danger {
    color: #842029;
    background-color: #f8d7da;
    border-color: #f5c2c7;
    padding: 10px 10px;
}

.alert-success {
    color: #0f5132;
    background-color: #d1e7dd;
    border-color: #badbcc;
    padding: 10px 10px;
}